# Wine Classification

In this project you'll be analyzing another set of data from the [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/). 

Your goal is to classify wines grown in the same region of Italy, but from different cultivars (cultivated varities) of grape. The data consists of a class (1, 2, or 3) followed by 13 features as described in the [wine.names](data/wine.names) file. 

Follow the directions in each cell to complete the project.

In [2]:
# ======================================|
#  DO NOT CHANGE ANYTHING IN THIS CELL! |
# ======================================|

%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf
import pandas as pd

In [3]:
# Load the training data from 'data/wine_train.csv' into
# a pandas dataframe.


wine = pd.get_dummies(pd.read_csv('data/wine_train.csv', dtype={'Class': 'category'}))

wine_test = pd.get_dummies(pd.read_csv('data/wine_train.csv', dtype={'Class': 'category'}))

In [4]:
# Display the first few rows from the dataframe
# to ensure proper loading
wine = pd.read_csv('data/wine_train.csv')
wine.head()

,Class,Alcohol,Malic Acid,Ash,Alkalinity of Ash,Magnesium,Total Phenols,Flavanoids,Nonflavanoid Phenols,Proanthocyanins,Color Intensity,Hue,OD280/OD315 of Diluted Wine,Proline
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [5]:
# Use the dataframe.count method to ensure
# all 148 records were loaded
wine.count ()

Class                          148
Alcohol                        148
Malic Acid                     148
Ash                            148
Alkalinity of Ash              148
Magnesium                      148
Total Phenols                  148
Flavanoids                     148
Nonflavanoid Phenols           148
Proanthocyanins                148
Color Intensity                148
Hue                            148
OD280/OD315 of Diluted Wine    148
Proline                        148
dtype: int64

In [6]:
# Declare placeholders and variables for your TensorFlow model here (if applicable)
x = tf.placeholder(tf.float32, [None, 13])
y_ = tf.placeholder(tf.float32, [None, 3])
W = tf.Variable(tf.truncated_normal([13, 3], stddev=0.1))
b = tf.Variable(tf.zeros([3]))

In [7]:
# Define your TensorFlow or scikit-learn model here

y = tf.nn.softmax(tf.matmul(x, W) + b)

In [30]:
# Train the model in this cell

In [ ]:
# Run the trained model on 'data/wine_test.csv' here.
# Be sure to print out the accuracy!